/* Variables and values */
$bgcolor1: whitesmoke;
$textcolor: black;
$fontsize: 2rem;
$center: center;
$logoAnimation: App-logo-spin infinite 20s linear;
$logoHeight: 20rem;
$link: #61dafb;
$fontSizeText: 1rem;
$textAlignText: justify;
$titleAlign: center;
$title1Size: 2rem;

h1 {
    font-size: $title1Size;
    text-align: $titleAlign;
}

body {
    background-color: $bgcolor1;
    color: $textcolor;
    font-size: $fontsize;
    height: 100%;
}

.App {
    font-size: $fontSizeText;
    text-align: $textAlignText;
}

.App-logo {
    height: $logoHeight;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: $logoAnimation;
    }
}

.App-header {
    background-color: $bgcolor1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
    color: $link;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}