$tableColor: white;
$tableRadius: 0.5rem !important;
$tableBorder: 1px solid gray !important;
$tableBg: #0B5ED7 !important;
$tableTheadColor: white;

// Source mixin
@mixin make-container($padding-x: 2rem, $padding-y: 1rem) {
  max-width: 800px;
  padding-left: $padding-x;
  padding-right: $padding-x;
  padding-top: $padding-y;
  padding-bottom: $padding-y;
  margin-right: auto;
  margin-left: auto;
}

// Usage
.container-table {
  @include make-container();
}

table {
  border-collapse: separate;
  border-radius: $tableRadius;
  border-spacing: 0;
  border-style: none;
  border: $tableBorder;
  background-color: $tableColor;
}

td, th {
  padding: 1.5rem !important;
}

tr:last-child {
  border-bottom: 1px solid transparent;
}

tr:first-child {
  border-bottom: $tableBorder;
}

thead {
  background-color: $tableBg;
  color: $tableTheadColor;
  text-align: left;
}

thead th:first-child {
  border-top-left-radius: $tableRadius;
}

thead th:last-child {
  border-top-right-radius: $tableRadius;
}
